<div class="login-container">
    <h2>Login</h2>
    <form >
      <div class="form-group">
        <label for="email">Username:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="button-group">
        <button type="button" (click)="login()">Iniciar sesion</button>
        <button type="button" (click)="goToRegister()">Registro</button>
      </div>
    </form>
  </div>
  