<div class="edit-service-container">
  <h2>Modificación de Servicio</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre del Servicio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.nombre }}</td>
        <td>
          <button (click)="selectService(service)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedService">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre del Servicio:</label>
        <input type="text" id="nombre" [(ngModel)]="selectedService.nombre" name="nombre" required>
      </div>
      <button type="submit">Modificar Servicio</button>
    </form>
  </div>
</div>
